flake8>=3.2.0
pytest>=5.0.0,<6.0.0
pytest-cov>=2.4.0
tox>=2.0
apispec[validation]>=0.38.0,<1.0.0
-e git+https://github.com/Nobatek/fuseki-manager@6ccb6af3c245d349b48618febf950ef601d62528#egg=fuseki_manager
-r requirements.txt
