Werkzeug<0.15
flask<1.1
flask_marshmallow>=0.7.0
flask-rest-api>=0.10.0,<0.11.0
webargs>=5.1.3,<6.0
apispec>=0.39.0,<1.0.0
python-dateutil>=2.5.0
marshmallow>=2.15.2,<3.0.0
marshmallow-oneofschema>=1.0.5,<2.0.0
requests>=2.11.1
numpy==1.14.0
pandas<0.25
sparqlwrapper
flask-jwt-simple>=0.0.3,<0.1.0
python3-saml>=1.4.1,<1.5
tables>=3.3.0
pint>0.7,<0.9
sqlalchemy>=1.2.5
sqlalchemy-utils>=0.32.21
flask-sqlalchemy>=2.3.2
flask-migrate>=2.1.1
python-dotenv>=0.8.2
-e git://github.com/Nobatek/ifc-datareader.git@35e5151c0baf9cbf1f2a8d72d20f8e14d2c86f4c#egg=ifc_datareader
